@import "config";

body {
  @include background;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  background: $primary-color;
  height: 100%;
}

.navbar {
  background-color: darken($primary-color, 10);
  overflow: hidden;
  height: 63px;
}

.navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.9rem 1rem;
  text-decoration: none;
  font-size: 1.1rem;
}

.navbar ul {
  margin: 0.3rem 0 0 0;
  list-style: none;
}

.navbar a:hover {
  color: $secondary-color;
  @include easeOut;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  @include easeOut;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #eee;
  display: block;
  @include easeOut;
}

.side-nav a:hover {
  color: $secondary-color;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}
main {
  min-height: calc(100vh - 180px);
}

main#home {
  transition: margin-left 0.5s;
  padding: 20px;
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin-top: 10vh;
}

.bg-heading {
  color: $secondary-color;
  font-weight: 400;
  font-size: 3rem;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: #fff;
  height: 60px;
  font-size: 1.5rem;
}

h3 {
  font-weight: 400;
  text-align: center;
  font-size: 2rem;
}
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
  color: lighten($third-color, 60);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: solid 3px $secondary-color;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}
