@import "config";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: $primary-color;
  overflow-x: hidden;
}

.navbar {
  background-color: darken($primary-color, 10);
  overflow: hidden;
  height: 63px;
}

.navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar ul {
  margin: 6px 0 0 0;
  list-style: none;
}

.navbar a:hover {
  background-color: $secondary-color;
  color: #000;
  @include easeOut;
  border-radius: 5px;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  @include easeOut;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #eee;
  display: block;
  @include easeOut;
}

.side-nav a:hover {
  color: $secondary-color;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
  overflow: hidden;
  width: 100%;
}
